<!DOCTYPE html>
{% load static %}
<html lang="ja">

  <head>

    <meta charset="utf-8">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <title>Lostbelt No.1</title>

    <link rel="stylesheet" type="text/css" href="{% static 'css/reset.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/common.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/slick.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/slide.css' %}">

    <link rel="stylesheet" type="text/css" href="{% static 'slick/slick.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{%static 'slick/slick-theme.css' %}"/>

  </head>
  <body>
    <header>

      <nav class="top_nav">
        <ul>
          <figure class="icon"><img src="{% static 'imges/icon_1.png' %}" alt="ロゴ画像"></figure>
          <li><a href= "{% url 'myapp:top' %}">Top</a></li>

          <li class="has-child"><a href="#">TimeLine</a>
            <ul>
            <li><a href="{% url 'myapp:chapter1' %}">Lostbelt No.1</a></li>
            <li><a href="{% url 'myapp:chapter2' %}">Lostbelt No.2</a></li>
            <li><a href="{% url 'myapp:chapter3' %}">Lostbelt No.3</a></li>
            <li><a href="{% url 'myapp:chapter4' %}">Lostbelt No.4</a></li>

          </ul>

        <li><a href="{% url 'myapp:post' %}">Post</a></li>
        <li><a href="{% url 'myapp:search' %}">Search</a></li>
        <li><a href="{% url 'myapp:profile' %}">Profile</a></li>
          <li><a href="{% url 'myapp:Logout' %}">Logout</a></li>
          </li>
          </ul>
        </nav>
      </div>
        </header>
        
      <h1>2部4章</h1>
      <div id="top_img">
        <ul class="slider">
          <li><img src="{% static 'imges/slide_4_1.png' %}" alt="1章"></li>
          <li><img src="{% static 'imges/slide_4_2.png' %}" alt="1章"></li>
          <li><img src="{% static 'imges/slide_4_3.png' %}" alt="1章"></li>
          <li><img src="{% static 'imges/slide_4_4.png' %}" alt="1章"></li>
        </ul>
        </div>
      <main class="tl_main">        


      

        <div class="concept">
          <p class="title">
            創世滅亡輪廻 ユガ・クシェートラ<br>
            [ 黒き最後の神 ]</p>


            <p>空想の根を断つ旅。異聞帯を巡る戦いは、より激しさを増していく。</p>
            <p>いずれ訪れるキリシュタリアとの戦いに備えるべく、新たな戦力と</p>
            <p>物資の補給を求め、一行は第4の異聞帯に車輪を進める。</p>
            <p>―インド異聞帯―</p>
            <p>その大地に荒れ果てた様子はなく、人々は皆、神への祈りを日課とし、</p>
            <p>慎ましい日々を送っていた。</p>
            <p>人によって法が定められた中国異聞帯とは真逆の世界、</p>
            <p>神の法に定められた清淑の地。</p>
            <p>すべての『悪』の排斥のため廻り続ける世界で、</p>
            <p>カルデアのマスターを待つものとは―――</p>
        </div></div>

{% for obj in object_list %}

<div class="TL_post">
  <div class="tl_user">
    <img src="{% static 'imges/icon_3.png' %}" alt="アイコン">
    <p> {{obj.user}} </p>
  </div>

  <div class="tl_img">
  {% if obj.post_img %}
    <img src="/{{ obj.post_img }}" alt="投稿画像">
  </div>
  {% endif %} 
  <div class="tl_btn">
    {% if request.user in obj.like4.all %}
    <a href="{% url 'myapp:like4' obj.pk %}" tabindex="-1"  aria-disabled="true"><img  src="{% static 'imges/hart2.png' %}" type=value  alt="ハート">     </a>{{obj.like4.count}}
    {% else %}
    <a href="{% url 'myapp:like4' obj.pk %}" tabindex="-1"  aria-disabled="true"> <img  src="{% static 'imges/hart.png' %}" type=value  alt="ハート"></a>{{obj.like4.count}}
    {% endif %}
    </div>
    <div class="tl_txt">
    <p> {{obj.post_txt}} </p> 
  </div>
</div>
{%endfor%}



      </main>
    <a class="pagetop" href="#"><div class="pagetop_arrow"></div></a>


    <footer>
      <nav>
        <ul>
          <li><a href="{% url 'myapp:top' %}">Top</a></li>
        <li><a href="{% url 'myapp:post' %}">Post</a></li>
        <li><a href="{% url 'myapp:search' %}">Search</a></li>
          <li><a href="{% url 'myapp:profile' %}">Profile</a></li>
          <li><a href="{% url 'myapp:Logout' %}">Logout</a></li>
        </ul>
        <p>2023 &copy; Copyright Hiramastu Takumi All rights reserved</p>
      </nav> 
    </footer>
  

    <script type="text/javascript" src="//code.jquery.com/jquery-3.4.1.min.js"></script>
    <script type="text/javascript" src="{% static 'slick/slick.min.js' %}"></script>
    <script src="{% static 'js/nav.js' %}"></script> 
    <script src="{% static 'js/slide.js' %}"></script>


  </script>

  </body>

</html>