<!DOCTYPE html>
{% load static %}
<html lang="ja">

  <head>

    <meta charset="utf-8">

    <meta name="viewport" content="width=device-width, initial-scale=1">



    <title>Search</title>

    <link rel="stylesheet" type="text/css" href="{% static 'css/reset.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/common.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/slide.css' %}">

    <link rel="stylesheet" type="text/css" href="{% static 'slick/slick.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{%static 'slick/slick-theme.css' %}"/>

  </head>

  <body>
    <header>

      <nav class="top_nav">
        <ul>
          <figure class="icon"><img src="{% static 'imges/icon_1.png' %}" alt="ロゴ画像"></figure>
          <li><a href= "{% url 'myapp:top' %}">Top</a></li>

          <li class="has-child"><a href="#">TimeLine</a>
            <ul>
            <li><a href="{% url 'myapp:chapter1' %}">Lostbelt No.1</a></li>
            <li><a href="{% url 'myapp:chapter2' %}">Lostbelt No.2</a></li>
            <li><a href="{% url 'myapp:chapter3' %}">Lostbelt No.3</a></li>
            <li><a href="{% url 'myapp:chapter4' %}">Lostbelt No.4</a></li>

          </ul>
          <li><a href="{% url 'myapp:post' %}">Post</a></li>
          <li><a href="{% url 'myapp:search' %}">Search</a></li>
          <li><a href="{% url 'myapp:profile' %}">Profile</a></li>
          <li><a href="{% url 'myapp:Logout' %}">Logout</a></li>
          </li>
          </ul>
        </nav>
      </div>
        </header>
        <h1>検索</h1>
    
        
        

      </div>
      <div id="search">
      <form action='{% url "myapp:search" %}' method="get">
        
          {{ searchForm }}
          <div id="search_sub">      
          <button  type="submit">検索</button>
          <a href='{% url "myapp:search" %}'>クリア</a>
          </div>
      </form>
      </div>



    {% for  obj in articles1 %}

      <div class="tl_search">
        <div class="tl_user">
          <img src="{% static 'imges/icon_3.png' %}">
          <p> {{obj.user}} </p>
        </div>
      
        <div class="tl_img">
        <figure>
          <img src="/{{ obj.post_img }}" alt="投稿画像">
        </figure>
        </div>
        <div class="tl_btn">
    
    
        {% if request.user in obj.like1.all %}
        <a href="{% url 'myapp:like1' obj.pk %}" tabindex="-1"  aria-disabled="true"><img  src="{% static 'imges/hart2.png' %}" type=value  alt="ハート">     </a>{{obj.like1.count}}
        {% else %}
        <a href="{% url 'myapp:like1' obj.pk %}" tabindex="-1"  aria-disabled="true"> <img  src="{% static 'imges/hart.png' %}" type=value  alt="ハート"></a>{{obj.like1.count}}
        {% endif %} 
        </div>
        <div class="tl_txt">
        <p> {{obj.post_txt}} </p> 
      </div>
    </div>
    {%endfor%}
  

    {% for  obj in articles2 %}

      <div class="tl_search">
        <div class="tl_user">
          <img src="{% static 'imges/icon_3.png' %}">
          <p> {{obj.user}} </p>
        </div>
      
        <div class="tl_img">
        <figure>
          <img src="/{{ obj.post_img }}" alt="投稿画像">
        </figure>
        </div>
        <div class="tl_btn">
    
    
        {% if request.user in obj.like2.all %}
        <a href="{% url 'myapp:like2' obj.pk %}" tabindex="-1"  aria-disabled="true"><img  src="{% static 'imges/hart2.png' %}" type=value  alt="ハート">     </a>{{obj.like2.count}}
        {% else %}
        <a href="{% url 'myapp:like2' obj.pk %}" tabindex="-1"  aria-disabled="true"> <img  src="{% static 'imges/hart.png' %}" type=value  alt="ハート"></a>{{obj.like2.count}}
        {% endif %} 
        </div>
        <div class="tl_txt">
        <p> {{obj.post_txt}} </p> 
      </div>
    </div>
    {%endfor%}
    

    {% for  obj in articles3 %}

      <div class="tl_search">
        <div class="tl_user">
          <img src="{% static 'imges/icon_3.png' %}">
          <p> {{obj.user}} </p>
        </div>
      
        <div class="tl_img">
        <figure>
          <img src="/{{ obj.post_img }}" alt="投稿画像">
        </figure>
        </div>
        <div class="tl_btn">
    
    
        {% if request.user in obj.like3.all %}
        <a href="{% url 'myapp:like3' obj.pk %}" tabindex="-1"  aria-disabled="true"><img  src="{% static 'imges/hart2.png' %}" type=value  alt="ハート">     </a>{{obj.like3.count}}
        {% else %}
        <a href="{% url 'myapp:like3' obj.pk %}" tabindex="-1"  aria-disabled="true"> <img  src="{% static 'imges/hart.png' %}" type=value  alt="ハート"></a>{{obj.like3.count}}
        {% endif %} 
        </div>
        <div class="tl_txt">
        <p> {{obj.post_txt}} </p> 
      </div>
    </div>
    {%endfor%}
    

    {% for  obj in articles4 %}

    <div class="tl_search">
      <div class="tl_user">
        <img src="{% static 'imges/icon_3.png' %}">
        <p> {{obj.user}} </p>
      </div>
    
      <div class="tl_img">
      <figure>
        <img src="/{{ obj.post_img }}" alt="投稿画像">
      </figure>
      </div>
      <div class="tl_btn">
  
  
      {% if request.user in obj.like4.all %}
      <a href="{% url 'myapp:like4' obj.pk %}" tabindex="-1"  aria-disabled="true"><img  src="{% static 'imges/hart2.png' %}" type=value  alt="ハート">     </a>{{obj.like4.count}}
      {% else %}
      <a href="{% url 'myapp:like4' obj.pk %}" tabindex="-1"  aria-disabled="true"> <img  src="{% static 'imges/hart.png' %}" type=value  alt="ハート"></a>{{obj.like4.count}}
      {% endif %} 
      </div>
      <div class="tl_txt">
      <p> {{obj.post_txt}} </p> 
    </div>
  </div>
  {%endfor%}
  


</div>
    <a class="pagetop" href="#"><div class="pagetop_arrow"></div></a>

    <footer>
      <nav>
        <ul>
          <li><a href="{% url 'myapp:top' %}">Top</a></li>
        <li><a href="{% url 'myapp:post' %}">Post</a></li>
        <li><a href="{% url 'myapp:search' %}">Search</a></li>
          <li><a href="{% url 'myapp:profile' %}">Profile</a></li>
          <li><a href="{% url 'myapp:Logout' %}">Logout</a></li>
        </ul>
        <p>2023 &copy; Copyright Hiramastu Takumi All rights reserved</p>
      </nav> 
    </footer>


      <script type="text/javascript" src="//code.jquery.com/jquery-3.4.1.min.js"></script>
      <script type="text/javascript" src="{% static 'slick/slick.min.js' %}"></script>
      <script src="{% static 'js/nav.js' %}"></script> 
      <script src="{% static 'js/slide.js' %}"></script>


    </script>

  </body>

</html>